.about-company {
	min-height: 660px;
	background-image: url(../../images/aboutCompany/WorldMap.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #000;
	&-container {
		display: flex;
		justify-content: center;
		margin: auto;
		max-width: $contentContainerMaxWidth;
		&-content {
			flex-grow: 1;
			p {
				line-height: 2rem;
			}
		}
		h3 {
			font-size: 2.76rem;
			font-family: serif;
			font-style: italic;
			font-weight: normal
		}
		h2 {
			font-size: 4.17rem;
			font-weight: normal;
			margin: 0px;
		}
		&-illustration {
			flex-grow: 1;
			img {
				margin-top: 50px;
			}
		}
	}
}