.about-company {
	min-height: 660px;
	background-image: url(../../images/aboutCompany/WorldMap.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #000;
	&-container {
		display: flex;
		justify-content: center;
		margin: auto;
		max-width: $contentContainerMaxWidth;
		overflow: hidden;
		&-content {
			flex-grow: 1;
			padding: 5px;
			transform: translate3d(-1000px, 0, 0);
			opacity: 0;
			p {
				line-height: 2rem;
			}
			.ref {
				text-align: center;
			}
		}
		h3 {
			font-size: 2.76rem;
			font-family: serif;
			font-style: italic;
			font-weight: normal
		}
		h2 {
			font-size: 4.17rem;
			font-weight: normal;
			margin: 0px;
		}
		&-illustration {
			display: flex;
			flex-grow: 1;
			transform: translate3d(1000px, 0, 0);
			opacity: 0;
			img {
				margin-top: 50px;
			}
		}
	}
}

//-----------------------------------------------
// Media queries
@media screen and (max-width: 1000px) {
	.about-company {
		&-container {
			flex-wrap: wrap;
			&-content {
				display: flex;
				justify-content: center;
				flex-direction: column;
				order: 2;
			}
			&-illustration {
				justify-content: center;
				order: 1;
			}
		}
	}	
}

@media screen and (max-width: 450px) {
	.about-company {
		&-container {
			&-illustration img {
				height: 300px;
			}
			&-content {
				h3 {
					font-size: 1.76rem;
				}
				h2 {
					font-size: 2.17rem;
				}
			}
		}
	}	
}


//------------------------------------------
//The state of elements after animation
.about-company .about-company-container .about-company-container-content-active, 
.about-company .about-company-container .about-company-container-illustration-active{
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: all 1s ease-out;
}
