header {
	background-image: url(../../images/header/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
	nav {
		position: relative;
		max-width: 1800px;
		margin: 0 auto;
		padding: 0 100px;
		display: flex;
		justify-content: flex-end;
		min-height: 160px;
		transform: translate3d(0, -100px, 0);
		opacity: 0;
	}

	.logo, .navMenu, .menuWrapper, .gamburgerMenu {
		display: flex;
		align-items: center;
	}

	.logo {
		flex-grow: 1;
		img {
			padding-right: 10px;			
		}

	}
	.menuWrapper {
		position: relative;
		flex-grow: 1;
		justify-content: flex-end;

		.gamburgerMenu {
			position: relative;
			display: inline-block;
			margin-left: 50px;

			.gamburgerMenu-wrapper {
				position: relative;
				display: block;
				height: 50px;
				width: 50px;
				cursor: pointer;
			}

			.navigMenu {
				display: block;
				width: 160px;
				right: 0px;
				padding: 0px;
				position: absolute;
				background-color: rgba(47, 20, 120, .5);
				transition: 0.5s;
				overflow: hidden;

				a {
					text-align: center;
					color: $mainTextColor;
					padding: 7px 11px;
					text-decoration: none;
					display: block;
					border: 5px solid rgba(256, 256, 256, 0);
				}

				a:hover {
					border: 5px solid rgba(256, 256, 256, 1);
				}
			}
		}
	}
	.name-company {
		font-size: 3.4rem;
		line-height: 3.5rem;
	}
	.navMenu ul{
		list-style: none;
		display: flex;
		justify-content: center;
		li {
			float: left;
			margin: 0 20px;
			a {
				display: block;
				color: $mainTextColor;
				text-align: center;
				text-decoration: none;
				font-size: 1.45rem;
				cursor: pointer;
				border-bottom: 5px solid rgba(256, 256, 256, 0);
				&[href="#home"] {
					border-bottom: 5px solid rgba(256, 256, 256, 1);
				}			
			}
			a:hover {
				border-bottom: 5px solid $mainTextColor;
			}
		}
	}
	.head-content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1500px;
		padding: 10px;
		margin: 0 auto;
		height: 780px;
		background-image: url(../../images/header/man.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		transform: translate3d(1800px, 0, 0);
		opacity: 0;

		.head-content {
			max-width: 750px;
			h2 {
				font-size: 3.4rem;
				line-height: 3.5rem;
				font-family: serif;
				font-style: italic;
				font-weight: normal;
			}
			h1 {
				font-size: 4.5rem;
				font-weight: normal;
			}
			p {
				font-size: 1.5rem;
				line-height: 2.5rem;
			}
			&-buttons {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
		}
	}
}



header .menuWrapper .gamburgerMenu .hide-menu {
	height: 0;
	font-size: 0px;
}

header .menuWrapper .gamburgerMenu .show-menu {
	font-size: 1.2rem;
	transform: translateX(0%);
	position: absolute;
}

.burger-line {
	position: absolute;
	right: 12px;
	width: 35px;
	height: 5px;
	background-color: #fff;
	transition: 0.5s;
}

.first {
	top: 8px;
}

.first-active {
	top: 18px;
	transform: rotate(45deg);
}

.third {
	top: 18px;
}

.third-active {
	transform: rotate(-45deg);
}

.fourth {
	top: 28px;
}

.fourth-active {
	top: 18px;
	transform: rotate(-45deg);
}


//-----------------------------------------------
// Media queries
@media screen and (max-width: 1500px) {
	header {
		.head-content-wrapper {
			width: 1400px;
			background-size: 50%;

			.head-content {
				max-width: 650px;

				h2 {
					font-size: 3rem;
					line-height: 3.1rem;
					font-family: serif;
					font-style: italic;
					font-weight: normal;
				}
				h1 {
					font-size: 4rem;
					font-weight: normal;
				}
			}
		}
	}
}


@media screen and (max-width: 1400px) {
	header {
		nav {
			max-width: 1400px;
			margin: 0 auto;
			padding: 0 10px;
			display: flex;
			justify-content: flex-end;
			min-height: 160px;
		}
		.name-company {
			font-size: 2rem;
			line-height: 2.2rem;
		}

		.head-content-wrapper {
			width: 1200px;
			background-size: 50%;

			.head-content {
				max-width: 650px;

				h2 {
					font-size: 3rem;
					line-height: 3.1rem;
					font-family: serif;
					font-style: italic;
					font-weight: normal;
				}
				h1 {
					font-size: 4rem;
					font-weight: normal;
				}
			}
		}
	}	
}


@media screen and (max-width: 1225px) {
	header {
		.navMenu {
			display: none;
		}
		.head-content-wrapper {
			width: auto;
			background-image: none;
			justify-content: center;
		}
	}
}


@media screen and (max-width: 420px) {
	header {
		.logo {
			img {
				height: 50px;			
			}

		}
		.head-content-wrapper {
			.head-content {
				h2 {
					font-size: 2rem;
					line-height: 2.2rem;
					font-family: serif;
					font-style: italic;
					font-weight: normal;
				}
				h1 {
					font-size: 2.5rem;
					font-weight: normal;
				}
				p {
					font-size: 1rem;
					line-height: 2rem;
				}
				&-buttons {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}


//------------------------------------------
//The state of elements after animation
.header-active {
	background-image: url(../../images/header/headerBgImg.jpg);
	transition: background-image 1s ease-out;
}
.nav-active {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: all 1s ease-out;
	z-index: 10;
}
header .head-content-wrapper-active {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: all 1s ease-out;
	z-index: -10;
}
