.our-work {
	display: flex;
	justify-content: center;
	color: #000;
	background-color: #f1f1f1;

	&-container {
		max-width: $contentContainerMaxWidth;

		p {
			text-align: center;
			margin-bottom: 60px;
		}
		&-info {
			text-align: center;
			transform: scale3d(0, 0, 0);
			h2 {
				font-size: 3rem;
				margin-top: 60px;
			}
			p {
				font-size: 1.2rem;
				margin: 10px
			}
		}

		&-works {
			display: flex;
			flex-wrap: wrap;
			margin: 40px 0;
			justify-content: space-around;
			.work-img {
				margin: 10px;
				overflow: hidden;
				border-radius: 5px;
				transform: scale3d(0, 0, 0);
				img {
					border: 0px solid #fff;
				}
				
				img:hover {
					transition: 0.25s ease;
					transform: scale(1.1) transLateY(-0.0px);
					cursor: pointer;
				}
				
			}
		}
	}
}

//-----------------------------------------------
// Media queries
@media screen and (max-width: 400px) {
	.our-work {
		&-container {
			&-works {
				.work-img {
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

//------------------------------------------
//The state of elements after animation

.our-work .our-work-container .our-work-container-info-active,
.our-work .our-work-container .our-work-container-works .work-img-active {
	transform: scale3d(1, 1, 1);
	transition: all 1s ease-out;
}