.our-client {
	display: flex;
	justify-content: center;
	min-height: 440px;
	background-color: $purpleButton;
	&-container {
		display: flex;
		flex-wrap: wrap;
		max-width: $contentContainerMaxWidth;
		.client {
			display: flex;
			flex-basis: 25%;
			justify-content: center;
			align-items: center;
			padding: 5px;
			transform: scale3d(0, 0, 0);
		}
	}
}

//------------------------------------------
//The state of elements after animation
.our-client {
	&-container {
		.client-active {
			transform: scale3d(1, 1, 1);
			transition: all 1s ease-out;
		}
	}
}
