.our-achievement {
	display: flex;
	align-items: stretch;
	min-height: 510px;
	background-color: $purpleButton;
	&-container {
		display: flex;
		align-items: stretch;
		min-height: 510px;
		margin: auto;
		max-width: $contentContainerMaxWidth;
		.achiev, .achievCenter {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
			padding: 10px;
			text-align: center;
			transform: scale3d(0, 0, 0);
			.image {
			}
			.val {
				font-size: 4.17rem;
				font-weight: bold;
				margin: 20px 0;
			}
			.achiev-name {
				font-size: 2.5rem;
				margin: 20px 0;
			}
		}
		.achiev:hover, .achievCenter:hover {
			background-color: $pinkButtonHover;
			cursor: pointer;
		}
		.achievCenter {
			background-color: $purpleButtonHover;
		}
	}
}

//-----------------------------------------------
// Media queries
@media screen and (max-width: 768px) {
	.our-achievement {
		&-container {
			flex-wrap: wrap;
		}
	}
}

//------------------------------------------
//The state of elements after animation
.our-achievement .our-achievement-container .achiev-active{
	transform: scale3d(1, 1, 1);
	transition: all 1s ease-out;
} 