.our-achievement {
	display: flex;
	align-items: stretch;
	min-height: 510px;
	background-color: $purpleButton;
	&-container {
		display: flex;
		align-items: stretch;
		min-height: 510px;
		margin: auto;
		max-width: $contentContainerMaxWidth;
		.achiev, .achievCenter {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
			padding: 10px;
			text-align: center;
			.image {
			}
			.val {
				font-size: 4.17rem;
				font-weight: bold;
				margin: 20px 0;
			}
			.achiev-name {
				font-size: 2.5rem;
				margin: 20px 0;
			}
		}
		.achievCenter {
			background-color: $purpleButtonHover;
		}
	}
}
