.quickLinks {
	display: flex;
	justify-content: center;
	min-height: 680px;
	background-image: url(../../images/aboutCompany/WorldMap.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #000;

	&-container {
		display: flex;
		align-items: center;
		max-width: $contentContainerMaxWidth;
		align-items: stretch;
		overflow: hidden;


		.links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			align-content: center;
			flex-basis: 50%;
			transform: translate3d(-1000px, 0, 0);

			div {
				flex-basis: 50%;
				
				h2 {
					color: $purpleButton;
				}

				ul {
					list-style: none;

					a {
						text-decoration: none;
						color: #000;
					}
					a:hover {
						color: $purpleButton;
					}
				}
			}
		}

		.photos {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			align-content: center;
			flex-basis: 50%;
			transform: translate3d(1000px, 0, 0);
			
			.photo {
				margin: 5px;
				border: 0px solid #000;
				border-radius: 20px;
				overflow: hidden;

				img:hover {
					transition: 0.25s ease;
					transform: scale(1.1) transLateY(-0.0px);
					cursor: pointer;
				}
			}
		}
	}
}

//-----------------------------------------------
// Media queries
@media screen and (max-width: 450px) {
	.quickLinks {
		&-container {
			flex-wrap: wrap;
			.links {
				flex-basis: 100%;
			}
			.photos {
				flex-basis: 100%;
				justify-content: center;
			}
		}
	}
}

//------------------------------------------
//The state of elements after animation
.quickLinks .quickLinks-container .links-active,
.quickLinks .quickLinks-container .photos-active {
	transform: translate3d(0, 0, 0);
	opacity: 1;
	transition: all 1s ease-out;
}